.card {
    margin: 10px;
	border-radius: 2px;
	display: inline-block;

	&-image {
		height: 200px;
	    width: 140px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&-text {

	}

	&:hover {
		cursor: pointer;
	}

	&-template {
		display: none;
	}
}

.card-container {
	display: none;
	position: absolute;
	top: 5%;
	left: calc(50% - 150px);
	width: 90%;
	height: 90%;
	max-width: 300px;
	max-height: 550px;

	margin: 0 auto;
	background-color: transparentize($gray, .008);
	border-radius: 10px;
	padding: 25px;
	text-align: center;
	margin-top: 30px;

	-webkit-box-shadow: 7px 7px 35px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 7px 7px 35px 0px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 35px 0px rgba(0,0,0,0.3);

	select {
		margin: 0 auto;
	}
}

.btn-add-card {
	position: absolute;
	top: 10px;
	left: 10px;
}
